[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "submodules/vesta-protocol-v1"]
	path = submodules/vesta-protocol-v1
	url = https://github.com/vesta-finance/vesta-protocol-v1.git
